<div data-field-id="{{field.uid}}" data-key="{{field.key}}" id="{{field.id}}" class="{{field.class}} form-group" data-type="Title" data-controller="Title">
    <label class="form-label" for="input-example-1">{{title}}</label>
    <textarea class="linotype-field-value form-input" name="{{field.key}}" placeholder="{{placeholder}}" rows="{{rows}}">{{field.value}}</textarea>
    <p class="form-help">{{help}}</p>
</div>