<div data-block-id="{{block.uid}}" id="{{block.id}}" class="{{block.class}}" style="{{ margin ? "margin:#{margin};" : '' }}{{ font_size ? "font-size:#{font_size}" : '' }}">
  {% if children is defined %}
    {% for child in children %}
      {{ linotype_render( 'block', child ) }}
    {% endfor %}
  {% endif %}
</div>