<div id="{{field.id}}" class="linotype-field {{field.class}}" data-type="Text" data-key="{{field.key}}" data-id="{{field.uid}}">
    <div class="title">{{title}}</div>
    <div class="field">
        <input class="linotype-field-value" name="{{field.key}}" placeholder="{{placeholder}}" value="{{field.value}}">
    </div>
    <div class="desc"><i>{{help}}</i></div>
</div>