<div data-field-id="{{field.uid}}" data-key="{{field.key}}" id="{{field.id}}" class="linotype-field {{field.class}}" data-type="Title" data-controller="Title">
    <div class="title">{{title}}</div>
    <div class="field">
        <input class="linotype-field-value" name="{{field.key}}" placeholder="{{placeholder}}" value="{{field.value}}">
    </div>
    <div class="desc"><i>{{help}}</i></div>
</div>