<div data-field-id="{{field.uid}}" data-key="{{field.key}}" id="{{field.id}}" class="{{field.class}} form-group" data-type="Title" data-controller="Title">
    <label class="form-label" for="input-example-1">{{title}}</label>
    <label class="form-switch">
        <input type="checkbox" class="linotype-field-value" name="{{field.key}}" value="{{field.value}}">
        <i class="form-icon"></i> {{info}}
    </label>
    <span class="form-help">{{help}}</span>
</div>