<div data-field-id="{{field.uid}}" data-key="{{field.key}}" id="{{field.id}}" class="linotype-field {{field.class}}" data-type="Color" data-controller="Color">
    <div class="title">{{title}}</div>
    <div class="field">
        <div class="color-picker--{{field.id}}"></div>
        <input id="color-picker-value--{{field.id}}" name="{{field.key}}" class="linotype-field-value" style-off="display:none" value="{{field.value}}">
    </div>
    <div class="desc">{{help}}</div>
</div>