<div data-field-id="{{field.uid}}" data-key="{{field.key}}" id="{{field.id}}" class="{{field.class}} form-group" data-type="Color" data-controller="Color">
    <label class="form-label" for="input-example-1">{{title}}</label>
    <div class="input-group">
        <div class="input-group-addon addon-sm"><div class="color-picker--{{field.id}}"></div></div>
        <input id="color-picker-value--{{field.id}}" class="linotype-field-value form-input" name="{{field.key}}" placeholder="{{placeholder}}" value="{{field.value}}">
    </div>
    <p class="form-help">{{help}}</p>
</div>