<div data-field-id="{{field.uid}}" data-key="{{field.key}}" id="{{field.id}}" class="{{field.class}} form-group" data-type="Json" data-controller="Json">
    <label class="form-label">{{title}}</label>
    <div data-Json-target="editor"></div>
    <textarea style="display:none" data-Json-target="value" class="linotype-field-value form-input" name="{{field.key}}" placeholder="{{placeholder}}">{{field.value|raw}}</textarea>
    <p class="form-help">{{help}}</p>
</div>